build/
build32/
compile_commands.json
clang-tidy-issues
CMakeLists.txt.user*
Session.vim
CMakeSettings.json
.vs/
.ideais/
.idea/
.clangd/
.ccls-cache/
docs/.jekyll-cache
docs/.bundle/
docs/_site/

momiji-qt/**/*.*~
